#body {
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 0;
    /*-webkit-user-select: none;*/
    /*-moz-user-select: none;*/
    /*-ms-user-select: none;*/
    /*user-select: none;*/
}

.fileBrowser {
    height: 100%;
    overflow: auto;
    border: 0;
    background-color: #333333;
    padding-left: 10px;
    font-size: 80%;
    cursor: default;
    font-family: sans-serif;
    line-height: 1.5em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#editor {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "PT Mono", Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
    font-size: 80%;
}

#output {
    height: 120px;
    background-color: #000000;
}

#grabBar2 {
    width: 7px;
    background-color: #444444;
    cursor: ew-resize;
}

#grabBar3 {
    height: 7px;
    background-color: #444444;
    cursor: ns-resize;
}

table {
    width: 100%;
    height: 100%;
    border: 0;
    margin: 0;
    padding: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

td {
    border: 0;
    margin: 0;
    padding: 0;
    /*display: block;*/
    overflow: auto;
}

tr {
    border: 0;
    margin: 0;
    padding: 0;
}

ul {
    margin-left: 0;
    padding-left: 12px;
}

.folder {
    list-style-type: none;
    font-weight: bolder;
    padding-left: 0;
    margin-left: 0;
    color: #BBBBBB;
}

.file {
    list-style-type: none;
    font-weight: lighter;
    padding-left: 0;
    margin-left: 0;
    color: #999999;
}

.myButton {
    background: none;
    border: 0;
    color: #bbbbbb;
    text-align: center;
    font-size: 90%;
}

#termInput {
    width: 100%;
    position: fixed;
    /*margin-bottom: 0;*/
    bottom: 0;
}

#termOutput {
    font-family: sans-serif;
    overflow-y: scroll;
    width: 100%;
    height: 100%;

}

#outputText {
    font-family: sans-serif;
    padding: 1em;
    font-size: 90%;
    color: #bbbbbb;
    /*overflow-y: scroll;*/
    /*overflow-x: inherit;*/
    /*top: 0;*/
    /*vertical-align: top;*/
}

/* Needs !important to override style set by term.js in javascript*/
.terminal {
    /*background-color: pink !important;*/
    /*overflow: auto !important;*/
    /*font-family: sans-serif, monospace;*/
    /*font-family: sans "Bitstream Vera Sans Mono";*/
    font-size: 75%;
    font-family: "PT Mono", Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace;
}