html, body {
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #222222;
}

#table {
    width: 100%;
    height: 100%;
    border-spacing: 0;
}

td {
    border: 0;
    margin: 0;
    padding: 0;
}

tr {
    border: 0;
    margin: 0;
    padding: 0;
}

#row1 {
    height: 1em;
    background-color: #444444;
}


.window {
    position: absolute;
    width: 400px;
    height: 300px;
    left: 130px;
    top: 130px;
}


#browser {
    width: 200px;
}

#terminal {
    height: 150px;
}

#editor {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


iframe {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

}

#horizontalBar {
    height: 7px;
    cursor: ns-resize;
}

#verticalBar {
    width: 7px;
    cursor: ew-resize;
}

