
#topMenu {
    height: 1em;
    cursor: default;
}

.item-menu {
    position: absolute;
    font-family: sans-serif;
    background-color: #333333;
    margin: 0;
    font-size: small;
    visibility: hidden;
    padding: 0;
    box-shadow: 7px 7px 12px #202020;
    list-style-type: none;
}


.listColA {
    width: 0.9rem;
    float: left;
    padding-left: 0.2rem;
    visibility: hidden;
}
.listColB {
    width: auto;
    float: left;

}
.listColC {
    width: 2rem;
    float: right;
    padding-left: 1rem;
}

.item-row {
    color: #aaaaaa;
    /*width: 12rem;*/
    width: auto;
    height: 1rem;
    padding: 0.2rem;
}

/*#recentMenu {*/
    /*width: 8rem;*/
/*}*/


.show {
    visibility: visible;
}

.darken {
    background-color: #333333 !important;
}

.item-col {
    min-width: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.item-key {
    padding-right: 1em;
    padding-left: 1em;
    text-align: right;
}

#tick-file-browser {
    /*visibility: hidden;*/
}

#tick-terminal {
    /*visibility: hidden;*/
}

#tick-new {
    visibility: hidden;
}


.menu-button {
    background-color: transparent;
    float: left;
    border: 0;
    color: #aaaaaa;
    font-size: small;
    outline: none;
    margin: 0;
}

#file-button {
    margin-left: 0.3em;
}

