
#topMenu {
    height: 1em;
    cursor: default;
}

.item-menu {
    position: absolute;
    font-family: sans-serif;
    background-color: #333333;
    margin: 0;
    font-size: 80%;
    visibility: hidden;
    border-spacing: 0;
    border-collapse: collapse;
}

.show {
    visibility: visible;
}


.darken {
    background-color: #333333 !important;
}


.item-col {
    min-width: 1em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left: 0.3em;
    padding-right: 0.3em;
}

.item-key {
    padding-right: 1em;
    padding-left: 1em;
}


#tick-file-browser {
    /*visibility: hidden;*/
}

#tick-terminal {
    /*visibility: hidden;*/
}


#tick-new {
    visibility: hidden;
}

.item-row {
    color: #aaaaaa;
}

.menu-button {
    background-color: transparent;
    float: left;
    border: 0;
    color: #aaaaaa;
    font-size: 80%;
    outline: none;
    margin: 0;
}

